name: Deploy to Screeps PTR

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy to Screeps

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Screeps PTR
        uses: aphistic/screeps-deployer@master
        env:
          SCREEPS_TOKEN: ${{ secrets.SCREEPS_TOKEN }}
          SCREEPS_HOST: screeps.com/ptr
          SCREEPS_BRANCH: default
